* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background: linear-gradient(to top, white, blue);
  background-repeat: no-repeat;
}
h1 {
  font-family: "Fjalla One", sans-serif;
  color: rgb(224, 68, 224);
  font-size: 62px;
  font-weight: bold;
  position: fixed;
  left: 40px;
  top: 30px;
  display: block;
  margin: 0 auto;
}
h2 {
  position: fixed;
  top: 80px;
  font-weight: bold;
  left: 400px;
  color: yellow;
  font-size: 250px;
  display: block;
  margin: 0 auto;
}

h3 {
  position: fixed;
  color: rgb(224, 68, 224);
  top: 130px;
  left: 690px;
  font-size: 75px;
  font-family: "Fjalla One", sans-serif;
  display: block;
  margin: 0 auto;
}
p {
  text-align: center;
  color: rgb(224, 68, 224);
  font-family: "Fjalla One", sans-serif;
  font-style: bold;
  font-size: 54px;
  margin: auto;
}
footer {
  text-align: center;
  color: rgb(224, 68, 224);
  font-family: "Fjalla One", sans-serif;
  display: block;
  margin: 0 auto;
  font-size: 14px;
}
#fahrenheit-link {
  font-size: 25px;
  color: black;
}
#celsius-link {
  font-size: 25px;
  color: black;
}
#current-location-button {
  position: fixed;
  right: 50px;
  top: 160px;
}
.fg--search {
  position: relative;
  width: 420px;
  left: 1000px;
  top: 140px;
}

.fg--search input {
  width: 100%;
  padding: 10px 60px 20px 20px;
  display: block;
  border: 1px line rgb(224, 68, 224);
  border-radius: 20px;
}

.fg--search button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 18px 20px;
  z-index: 2;
}

.fg--search input:focus + button .fa-search {
  color: rgb(240, 96, 156);
}

.slogan {
  text-align: center;
  color: rgb(248, 242, 248);
  font-family: "Fjalla One", sans-serif;
  display: block;
  margin: 0 auto;
  font-size: 14px;
  padding: 20px;
}
.card {
  max-width: 95rem;
  margin: auto;
  padding: 30px;
  background-color: blue;
  position: relative;
  top: 320px;
  color: rgb(224, 68, 224);
  border-radius: 20px;
}
.fa-solid fa-wind {
  color: white;
}
.name {
  text-decoration: none;
  color: rgb(252, 245, 252);
}
.name:hover {
  color: pink;
  text-decoration: underline;
}
.gitLink {
  color: black;
}
.gitLink:hover {
  color: white;
}
.container {
  border: 20px;
  border-radius: 20px;
  margin: 0px;
  display: block;
}
.current {
  list-style: none;
  color: rgb(224, 68, 224);
  font-family: "Fjalla One", sans-serif;
  font-size: 20px;
  position: fixed;
  top: 230px;
  left: 650px;
  display: block;
  margin: 0 auto;
}
