* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url("https://media1.giphy.com/media/l3vRnoppYtfEbemBO/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  place-items: center;
  min-height: 100vh;
}

h1,
h2,
p {
  font-family: "Press Start 2P", cursive;
  color: white;
  margin: 0 auto;
  background-image: linear-gradient(
    to top,
    rgb(224, 103, 224),
    rgb(104, 231, 199)
  );
  -webkit-background-clip: text;
  color: transparent;
}

h1 {
  font-size: 60px;
  font-weight: bold;
  position: fixed;
  left: 110px;
  top: 45px;
  display: block;
}

h2 {
  position: fixed;
  top: 170px;
  left: 690px;
  font-size: 50px;
  font-style: bold;
  display: block;
}

p {
  position: fixed;
  top: 370px;
  right: 100px;
  text-align: center;
  font-style: bold;
  font-size: 30px;
  padding: 100px;
  display: block;
  background-image: linear-gradient(
    to top,
    rgb(224, 103, 224),
    rgb(104, 231, 199)
  );
  -webkit-background-clip: text;
  color: transparent;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  transition-duration: 3s;
}

p:hover {
  letter-spacing: 10px;
  cursor: pointer;
}

footer,
.current,
.current-info {
  color: rgb(104, 231, 199);
  font-family: "Fjalla One", sans-serif;
  display: block;
  margin: 0 auto;
}

footer {
  position: fixed;
  left: 100px;
  bottom: 75px;
  font-size: 14px;
}

#current-location-button {
  position: fixed;
  right: 155px;
  top: 200px;
  color: rgb(104, 231, 199);
  font-weight: 800;
}

#icon {
  position: fixed;
  top: 140px;
  font-weight: bold;
  left: 470px;
  font-size: 250px;
  display: block;
  margin: 0 auto;
}

.current {
  top: 230px;
  left: 650px;
}

.current-info {
  left: 70px;
  top: 115px;
}

.current,
.current-info {
  font-family: "Orbitron", sans-serif;
  list-style: none;
  font-size: 20px;
  position: fixed;
}

.current-info .units-feels-like {
  position: relative;
  font-size: 14px;
  font-family: "Bungee Shade", cursive;
  top: -5px;
  color: rgb(19, 191, 197);
}

.current-info .units-feels-like .now {
  color: rgb(19, 191, 197);
  cursor: default;
  text-decoration: none;
}

.current-info .units-feels-like .now:hover {
  text-decoration: none;
}

.temperature .units {
  position: relative;
  font-size: 24px;
  font-family: "Bungee Shade", cursive;
  top: -40px;
  left: -55px;
}

.temperature .active {
  color: rgb(19, 191, 197);
  cursor: default;
  text-decoration: none;
  color: rgb(19, 191, 197);
}

.temperature .active:hover {
  text-decoration: none;
  color: rgb(19, 191, 197);
}

.fg--search {
  position: relative;
  width: 380px;
  left: 300px;
  top: -40px;
}

.fg--search input {
  background: rgb(224, 103, 224);
  opacity: 0.7;
  width: 100%;
  padding: 20px 20px 10px 20px;
  display: block;
  border: 1px line rgb(104, 231, 199);
  border-radius: 20px;
}

.fg--search button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: 40px;
  position: absolute;
  top: -25px;
  right: -5px;
  padding: 18px 20px;
  z-index: 15;
}

.joystick {
  color: rgb(19, 191, 197);
  background-color: transparent;
  position: fixed;
  font-size: 40px;
  top: 30px;
  right: 150px;
}

.circle {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -235px;
  right: -620px;
}

.text {
  width: 100%;
  height: 100%;
  position: absolute;
  animation: anim 10s linear infinite;
}

@keyframes anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.text span {
  position: absolute;
  left: 50%;
  font-size: 1.2 em;
  transform-origin: 0 100px;
  background-image: linear-gradient(to top, purple, rgb(104, 231, 199));
  -webkit-background-clip: text;
  color: transparent;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  transition-duration: 3s;
}

.game-controller {
  color: rgb(19, 191, 197);
  background: transparent;
  font-size: 40px;
  position: fixed;
  top: 0px;
  right: 0px;
}

.card {
  font-size: 25px;
  text-align: center;
  width: 200px;
  background: rgb(104, 231, 199, 0.7);
  color: #2d4059;
  margin: 0px 10px;
  padding: 10px;
  box-shadow: 10px rgb(252, 245, 252);
  border: solid 1.5px #240747;
}

.row {
  position: fixed;
  bottom: 130px;
  right: 30px;
  margin: 0px;
  color: white;
  font: 65px;
  font-weight: bold;
  font-family: "Orbitron", sans-serif;
}

.name,
.gitLink {
  font-family: "Orbitron", sans-serif;
  text-decoration: none;
  color: rgb(252, 245, 252);
}
.name:hover,
.gitLink:hover {
  color: rgb(224, 103, 224);
  text-decoration: underline;
}

.container {
  border: 20px;
  border-radius: 20px;
  margin: 0px;
  display: block;
}
